.block-welcome {
	padding-top: 15px;
	@include mq(sm) {
		padding-top: 0;
		font-size: 0.9em;
	}
	.col {
		flex-basis: 50%;
		@include mq(sm) {
			flex-basis: 100%;
		}
	}
}
.block-advantages {
	padding: 35px 0 25px;
	@include mq(sm) {
		padding: 15px 0;
	}
	.col {
		flex-basis: 33.33333%;
		@include mq(sm) {
			flex-basis: 100%;
			margin-bottom: 20px;
		}
		&:nth-child(1){
			.advantages__ico {
				@include sprite($ico-man);
			}
		}
		&:nth-child(2){
			.advantages__ico {
				@include sprite($ico-hart);
			}
		}
		&:nth-child(3){
			.advantages__ico {
				@include sprite($ico-bag);
			}
		}
	}
	.advantages {
		text-align: center;
		&__ico {
			display: inline-block;
		}
		&__title {
			@include font(20,26,600);
			color: #30719b;
			text-transform: uppercase;
			margin: 22px 0;
			@include mq(md) {
				@include font(18,20,600);
				margin: 15px 0;
			}
		}
		&__txt {
			@include font(14,26);
		}
	}
}

.block-rates {
	padding: 40px 0 20px;
	@include mq(sm) {
		padding: 15px 0;
	}
	.col {
		flex-basis: 50%;
		@include mq(xs) {
			flex-basis: 100%;
			margin-bottom: 20px;
		}
		&:first-child {
			padding-left: 115px;
			@include mq(lg){
				padding-left: $gutter;
			}
		}
		&:last-child {
			padding-right: 115px;
			@include mq(lg){
				padding-right: $gutter;
			}
		}
	}
	.rates {
		text-align: center;
		&__price {
			@include font(48,54,300);
			color: #54c8d5;
		}
		&__title {
			margin: 14px 0;
			@include font(20,26,600);
			color: #30719b;
			text-transform: uppercase;
		}
		&__txt {
			@include font(14,26);
		}
	}
}
